@media (min-width: 576px) {
    .photo-image img {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .photo-image img {
        width: 750px;
        margin: 5px 0;
    }

    .example img {
        width: 55%;
    }
}

@media (min-width: 992px) {
    .photo-image img {
        width: 550px;
        padding-top: 200px;
    }

    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    .header>div {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        font-size: 85px;
        margin-bottom: 0;
    }

    .menu {
        display: none;
    }

    nav {
        flex-direction: row;
        display: flex !important;
    }

    nav a {
        margin-top: 0;
        margin-left: 10px;
        text-align: center;
    }

    .blurb-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .blurb {
        padding-top: 10px;
        grid-area: 1 / 1 / 2 / 2;
    }

    .photo-image {
        padding-top: 10px;
        grid-area: 1 / 2 / 2 / 3;
    }

    .btn {
        margin-bottom: 10px;
    }

    .work-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .example {
        height: auto;
        width: 45%;
    }

    .example img {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 992px;
        margin: 0 auto;
    }

    .photo-image img {
        width: 95%;
        padding-top: 100px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .photo-image img {
        width: 100%;
        padding-top: 50px;
    }
}