/* Inspiration from: https://www.youtube.com/watch?v=-_ubESj5vaI */


@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Glory', sans-serif;
}

:root {
    --burgandy: #8f0c0c;
    --aqua: #26c3e4;
    --blue: #1475bb;
    --pale-grey: #d8d8d8;
    --medium-grey: #827c7c;
    --dark-grey: #2f2e2e;
    --white: #fff;
}

.container {
    padding: 0 10px;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

a {
    text-decoration: none;
}

.cta-btn {
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    background-color: var(--aqua);
    color: var(--dark-grey);
}

.cv-btn {
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: inline;
    background-color: var(--aqua);
    color: var(--dark-grey);
}

.card {
    padding: 4px 0 25px 0;
}

.home {
    width: 100%;
    background-color: var(--pale-grey);
}

.header {
    background-color: var(--medium-grey);
    padding: 15px 0;
    width: 100%;
}

.header>div {
    display: flex;
    flex-direction: column;
}

.header>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 75px;
    color: var(--burgandy);
}

h2 {
    font-size: 50px;
    color: var(--blue);
    margin: 10px 0;
}

h3 {
    font-size: 25px;
    color: var(--medium-grey);
    margin-bottom: 30px;
}

h4 {
    font-size: 20px;
    background-color: var(--medium-grey);
    color: var(--burgandy);
    line-height: 1.5;
    padding: 15px;
    text-align: center;
}

h5 {
    font-size: 20px;
    color: var(--dark-grey);
    margin-bottom: 15px;
}

h6 {
    font-size: 20px;
    color: var(--blue);
    margin-bottom: 10px;
}

p {
    font-size: 25px;
    color: var(--blue);
    margin-bottom: 30px;
}

li {
    font-size: 20px;
    color: var(--blue);
    margin-bottom: 30px;
    list-style-type: circle;
    margin: 15px;
}

.menu {
    font-size: 50px;
    color: var(--burgandy);
    display: block;
    cursor: pointer;
    padding-left: 20px;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: var(--grape);
    background-color: var(--pale-grey);
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

nav a:hover {
    background-color: var(--dark-grey);
    color: var(--burgandy);
}

.blurb-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.blurb {
    padding-top: 10px;
    grid-area: 1 / 1 / 2 / 2;
}

.photo-image {
    padding: 10px;
    text-align: center;
    height: auto;
}

.photo-image img {
    width: 90%;
}

.about-me {
    background-color: var(--white);
}

.my-work {
    width: 100%;
    background-color: var(--pale-grey);
}

.work-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.example {
    text-align: center;
    padding: 30px;
    background-color: var(--aqua);
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    width: calc(100%-60px);
    border-radius: 10px;
    transition: all 0.3s ease;
}

.example:hover {
    background-color: var(--white);
    box-shadow: 5px 5px 5px 5px;
}

.example img {
    width: 95%;
}

.contact-me>li {
    font-size: 20px;
    line-height: 1.2;
    color: var(--blue);
    list-style-type: none;
}

.fa {
    position: relative;
    padding-left: 5px;
}