/* Inspiration from: https://www.youtube.com/watch?v=-_ubESj5vaI */


@import url('https://fonts.googleapis.com/css2?family=Glory:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Glory', sans-serif;
}

:root {
    --burgandy: #8f0c0c;
    --aqua: #26c3e4;
    --blue: #1475bb;
    --pale-grey: #cecadc;
    --medium-grey: #827c7c;
    --dark-grey: #2f2e2e;
    --white: #fff;
}

.container {
    padding: 0 15px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
}

.cta-btn {
    background-color: var(--aqua);
    color: var(--dark-grey);
}

/* Home styling */
.home {
    width: 100%;
    background-color: var(--pale-grey);
}

.header {
    background-color: var(--medium-grey);
    padding: 15px 0;
}

.header>div {
    display: flex;
    flex-direction: column;
}

.header>div>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 75px;
    color: var(--burgandy);
}

h2 {
    font-size: 50px;
    color: var(--blue);
    margin: 30px 0 15px 0;
}

h3 {
    font-size: 25px;
    color: var(--medium-grey);
    margin-bottom: 30px;
}

h4 {
    font-size: 20px;
    background-color: var(--medium-grey);
    color: var(--burgandy);
    line-height: 1.5;
    padding: 15px;
}

p {
    font-size: 25px;
    color: var(--blue);
    margin-bottom: 30px;
}

li {
    font-size: 20px;
    color: var(--blue);
    margin-bottom: 30px;
    list-style-type: circle;
    margin: 15px;
}

.menu {
    font-size: 50px;
    color: var(--burgandy);
    display: block;
    cursor: pointer;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    color: var(--grape);
    background-color: var(--pale-grey);
    padding: 10px 15px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
}

nav a:hover {
    background-color: var(--dark-grey);
    color: var(--burgandy);
}

.blurb-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.blurb {
    grid-area: 1 / 1 / 2 / 2;
}

.hero-image {
    grid-area: 2 / 1 / 3 / 2;
    padding: 10px 5px;
    text-align: center;
}

.about-me {
    background-color: var(--white);
}

.my-work {
    width: 100%;
    background-color: var(--pale-grey);
}